// BODY //

$text-color: white;

// ALERT & VALID //
$error-color: rgb(196, 51, 51);
$valid-color: rgb(39, 187, 39);
// HEADER //
$navbar-bcg-color: #0000004f;
$icon-color: white;
$menu-burger-bcg-color: #29013d;
//  MAIN //
$form-bcg-color: #7600af;
$card-bcg-color: #2c2c89;

// FOOTER //
