{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main>
		<div class="home-container">
			{% for message in app.flashes('success') %}
				<div class="success">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
