<header>
	<div class="navbar-mobile" id="navbar-mobile">
		<i class="fa-solid fa-bars fa-xl" id="open-menu-burger"></i>
		<a href="">
			<img src="{{ asset('imgs/logo.webp')}}" alt="logo">
		</a>
		<div class="icons-container">
			<i class="fa-solid fa-cart-arrow-down fa-xl"></i>
			<i class="fa-solid fa-user fa-xl"></i>
		</div>

	</div>
	<div class="navbar-desktop">
		<a href="">
			<img src="{{ asset('imgs/logo.webp')}}" alt="logo">
		</a>
		<ul>
			<li>
				<a href="">home</a>
			</li>
			<li>
				<a href="">store</a>
			</li>
		</ul>
		<div class="icons-container">
			<i class="fa-solid fa-cart-arrow-down fa-2xl"></i>
			<i class="fa-solid fa-user fa-2xl"></i>
		</div>
	</div>
	<div class="menu-burger-container" id="menu-burger-container">
		<div class="menu-container">
			<i class="fa-solid fa-xmark fa-2xl" id="close-menu-burger"></i>
			<ul>
				<li><a href="">home</a></li>
				<li><a href="">store</a></li>
			</ul>
		</div>
	</div>
	<div class="profil-container" id="profil-container">
		<ul>
			<li><a href="">login</a></li>
			<li><a href="">profil</a></li>
			<li><a href="">logout</a></li>
		</ul>
	</div>
</header>
