/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Add accessible line-height */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
label,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 7. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

// IMPORTS //

@import "sass/colors";
@import "sass/template";
@import "sass/library";

/*//////////////////////////////////// FONT-FAMILY ///////////////////////////////////////*/
// @font-face {
//   font-family: "Name FontFamily";
// }

/*//////////////////////////////////// BODY //////////////////////////////////////////////*/

body {
  z-index: 0;
  background-image: url("../imgs/bcg_retro.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*/////////////////////////////// RESPONSIVE MOBIL 360px ///////////////////////////////////////*/

:root {
  font-size: 16px;
}

/*//////////////////////////////////// ALERTS //////////////////////////////////////////////*/

/*//////////////////////////////////// HEADER ////////////////////////////////////////////*/
header {
  .navbar-desktop,
  .navbar-mobile {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar-mobile {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 60px;
    justify-content: space-between;
    background-color: $navbar-bcg-color;
    img {
      height: 40px;
      padding-left: 10px;
    }
    .fa-bars::before {
      color: $icon-color;
      border: 2px solid white;
      border-radius: 5px;
      padding: 3px 5px;
    }
    .fa-user::before {
      color: $icon-color;
      cursor: pointer;
    }
    .icons-container {
      .fa-cart-arrow-down {
        padding-right: 10px;
        color: $icon-color;
        cursor: pointer;
      }
    }
  }
  .navbar-desktop {
    display: none;
  }
  .menu-burger-container {
    z-index: 1;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100vw - 19px);
    background-color: $menu-burger-bcg-color;
    animation: burger 0.5s ease-out;
    @keyframes burger {
      from {
        width: 0;
        opacity: 0;
      }
      to {
        width: calc(100vw - 19px);
        opacity: 1;
      }
    }

    .menu-container {
      position: relative;
      height: 100%;
      i {
        color: $icon-color;
        position: absolute;
        top: 30px;
        left: 25px;
      }
      ul {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 100px;
        text-align: center;
        li {
          a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: xx-large;
            color: $text-color;
          }
        }
      }
    }
  }
  .profil-container {
    z-index: 1;
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    padding: 20px;
    background-color: $navbar-bcg-color;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      li {
        a {
          text-transform: uppercase;
          font-weight: bold;
          font-size: large;
          color: $text-color;
        }
      }
    }
  }
}
/*//////////////////////////////////// MAIN //////////////////////////////////////////////*/

main {
  padding: 20px;
  margin-top: 60px;
  flex: 1;
  position: relative;
  .login-container {
    @include template-form-login;
    h1 {
      color: $text-color;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .register-container {
    @include template-form;
    // .vich-image {
    // }
  }

  .items-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .items-cards-container {
      display: grid;
      grid-template-columns: repeat(1, 190px);
      justify-content: center;
      row-gap: 40px;
      column-gap: 50px;
      a {
        .item-card {
        }
      }
    }
    .pagination-items {
      padding-top: 30px;
    }
  }
}

/*//////////////////////////////////// FOOTER ////////////////////////////////////////////*/

/*/////////////////////////////// RESPONSIVE TABLET //////////////////////////////////////*/

@media (min-width: 768px) {
  @import "sass/tablet";
}

/*/////////////////////////////// RESPONSIVE DESKTOP /////////////////////////////////////*/

@media (min-width: 1024px) {
  @import "sass/desktop";
}
