{% extends 'base.html.twig' %}

{% block title %}Edit Profil
{% endblock %}

{% block body %}
	<main>
		<div class="edit-profil-container">
			{{ include('users/_form.html.twig')}}
			<a href="{{ path('user-profil', {id: app.user.id}) }}">back to you profil</a>
		</div>
	</main>
{% endblock %}
